.simple {
  // center the text
  text-align: center;
  // center vertically
  line-height: 80vh;

  // font-size: 10vw;
  font-size: 5vh;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
